.DS_Store
*/.DS_Store
.buildpath
.project
.svn
.settings
*.lock
*.swp
tmp
app/config/SelfConfig.php
log/*
static/upload/*
static/images/goods/test.jpg
.htaccess
.idea
*.sh
*.xls
*.xlsx
*.zip
*.lock
*.log
